<div>
    <h2>
        <span jhiTranslate="domotikWebApp.smartDevice.home.title">Smart Devices</span>
        <button class="btn btn-primary float-right create-smart-device" [routerLink]="['/', { outlets: { popup: ['smart-device-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="domotikWebApp.smartDevice.home.createLabel">
            Create new Smart Device
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="smartDevices">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="domotikWebApp.smartDevice.ipAddress">Ip Address</span></th>
            <th><span jhiTranslate="domotikWebApp.smartDevice.name">Name</span></th>
            <th><span jhiTranslate="domotikWebApp.smartDevice.model">Model</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let smartDevice of smartDevices ;trackBy: trackId">
                <td><a [routerLink]="['../smart-device', smartDevice.id ]">{{smartDevice.id}}</a></td>
                <td>{{smartDevice.ipAddress}}</td>
                <td>{{smartDevice.name}}</td>
                <td>
                    <div *ngIf="smartDevice.model">
                        <a [routerLink]="['../model', smartDevice.model?.id ]" >{{smartDevice.model?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../smart-device', smartDevice.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'smart-device/'+ smartDevice.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'smart-device/'+ smartDevice.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
