<form name="commandsForm" role="form" novalidate (ngSubmit)="send()" #commandsForm="ngForm">
    <div class="modal-header">
        <h1 jhiTranslate="commands.title">Ready to send a command?</h1>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label jhiTranslate="commands.label.smartDevice" for="field_model">Smart device</label>
            <select class="form-control" id="field_model" name="smartDevices" [(ngModel)]="smartDevices" required>
                <option *ngFor="let smartDevice of smartDevices; trackBy: trackSmartDeviceById">{{smartDevice.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label jhiTranslate="commands.label.command">Commande</label>
        <input type="text" class="form-control" id="command" name="command" [(ngModel)]="command" required />
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="commandsForm.form.invalid" class="btn btn-primary">
            <span class="fa fa-send"></span>&nbsp;<span jhiTranslate="commands.action.send">Save</span>
        </button>
    </div>
</form>
